NODE_ENV=development
PORT=5000
API_PREFIX=/api/v1
APP_BASE_URL=http://localhost:5000
ADMIN_APP_URL=http://localhost:3000
DATABASE_URL=mongodb://127.0.0.1:27017/jewellery
JWT_SECRET=your-strong-jwt-secret
JWT_EXPIRES_IN=7d
ADMIN_SEED_NAME=Admin User
ADMIN_SEED_EMAIL=admin@jewellery.local
ADMIN_SEED_PASSWORD=Admin@12345
LOG_LEVEL=info
LOG_DIR=logs
